main {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 0px;
}

app-square {
    border: 1px gray solid;
    height: 10rem;
}

button {
    margin: 35px 0px;
}

@media only screen and (max-width: 1000px) {
    main {
        grid-template-columns: 6rem 6rem 6rem;
    }
    app-square {
        height: 6rem;
    }
}